<section class="container">
  <% if @dreams.present? %>
    <h1 class="mb-5">Your dreams today</h1>

    <ul class="list-group mb-5">
      <%= render @dreams %>
    </ul>
  <% else %>
    <h1 class="text-gray mb-5">No dreams logged for today</h1>
  <% end %>

  <%= link_to "Log Dream", new_dream_path, class: "btn btn-primary" %>
</section>
