<% if object.errors.any? %>
  <section class="errors">
    <h5>
      Your form could not be saved.
    </h5>
    <%# <h3> %>
      <%#= pluralize(object.errors.size, "error") %>
    <%# </h3> %>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
